html{
    scroll-behavior: smooth;
}

:root {
    --sea-green-color: #09814A;
    --raspberry-rose-color: #B8336A;
    --ghost-white-color: #F7F7FF;
    --rick-black-color: #0B2027;

    --button-default-color: #1254F8;
    --hover-button-color: #0542DB;
    --press-button-color: #041D5C;
    --disabled-button-color: #B9B9B9;

    --main-font: "Bebas Neue";
    --body-font: "Manrope";
    --h3-font: "Play";

    --body-font-size: 18px;

    --header-height: 100px;
}

body {
    font-family: 'Manrope';
    margin: 0px;
    color: var(--rick-black-color);
    overflow-x: hidden;
    line-height: 1.75;
    font-size: var(--body-font-size);
    cursor:default;
    margin-bottom: 100px;
}

h1{
    background-color: var(--sea-green-color);
    color: var(--ghost-white-color);
    text-align: center;
    width: 100%;
    height: var(--header-height);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    line-height: 1;
    justify-content: center;
    margin-left: 0px;
    margin-right:0px;
    margin-top:0px;
}

.contents{
    margin-left: 5%;
    margin-right: 5%;
}

h2{
    color:var(--raspberry-rose-color);
    margin-top: 50px;
    margin-bottom: 10px;
}

h3{
    color: var(--sea-green-color);
}

p{
    margin-block: 0px;
    margin-inline: 0px;
}

a{
    color: var(--button-default-color);
}

img{
    max-width: 500px;
    max-height: 600px;
}

a:hover{
    color:#B8336A;
    cursor: pointer;
}

a:active{
    color:#09814A;
}
